// ===> Default Variables

$font-size : 62.5%;
$body-font-family : 'Inter',sans-serif;
$heading-font-family : 'Prata',serif;
$primary-color : #fbe850;
$primary-bg-color : #0a0a0b;
$secondary-bg-color : #2e3038;