@media only screen and (min-width: 768px) {

    /* header-styling */
    .navbar {
        padding: 30px;
    }

    /* main-styling */
    .first-section {
        padding: 30px;
    }

    .first-section .heading {
        font-size: 3.1em;
    }

    .first-section .about-pg {
        margin-bottom: 70px;
    }

    .first-section .companies-logos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 7em;
        row-gap: 2em;
    }
}