@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Prata&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #0a0a0b;
    --gray: #2e3038;
    --yellow: #fbe850;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--black);
}

.copyright {
    background-color: #fff;
}

.brand,
.btn,
main .first-section .heading,
.third-section .title,
.fourth-section .heading {

    font-family: 'Prata', serif;
}

.brand {
    text-decoration: none;
    cursor: pointer;
}

/* ==================== HEADER ==================== */
.navbar {
    padding: 1.5em 0;
}

.navbar .nav-link {
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}

.navbar .nav-link:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.btn {
    padding: 10px 20px;
    background-color: var(--yellow);
    color: #000;
    border: solid 1px transparent;
    border-radius: 0;
    transition: 500ms;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}

.btn:hover {
    border: solid 1px var(--yellow);
    background-color: transparent;
    color: var(--yellow);
}

/* ==================== MAIN ==================== */

main {
    padding: 2em 0;
}

/* ==================== */

.second-section .package a:any-link {
    text-decoration: none;
    font-family: 'Prata', serif;
    color: #fff;
    font-size: 2em;
}

/* ==================== */

.third-section {
    background-color: var(--gray);
    padding: 1.5em 0;
}

/* ==================== FOOTER ==================== */

footer {
    padding: 1.5em 0;
    background-color: var(--gray);
}