@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Prata&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /* border: solid red 1px; */
}

:root {
    --heading-font: 'Prata', serif;
    --body-font: 'Inter', sans-serif;
    --primary-color: #0a0a0b;
    --secondary-color: #2e3038;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--heading-font);
    background: var(--primary-color);
    color: #fff;
}

#copyright {
    background-color: #fff;
    color: #000;
    text-align: center;
    font-family: var(--body-font);
    font-weight: 600;
}