:root {
    --heading-font: 'Prata', serif;
    --body-font: 'Inter', sans-serif;
    --primary-color: #0a0a0b;
    --secondary-color: #2e3038;
    --btn-color: #fbe850;
}

/* header-styling */
.navbar {
    padding: 30px 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-list {
    font-family: var(--body-font);
    display: none;
}

.navbar .btn {
    display: none;
}

.navbar img {
    display: inline-block;
}

/* main-styling */
.first-section {
    padding: 30px 20px;
}

.first-section .heading {
    font-size: 2em;
}

.first-section .about-pg {
    font-family: var(--body-font);
    font-size: 1.1em;
    line-height: 1.4em;
    margin-bottom: 30px;
}

.first-section .companies-logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 3em;
    row-gap: 1em;
}

.second-section {
    padding: 30px 20px;
}

.second-section img {
    width: 100%;
    margin-bottom: 1em;
}

.second-section a:any-link {
    color: #fff;
    font-size: 2.2em;
}

.second-section a:hover {
    text-decoration: underline;
}

.second-section .about-pg {
    margin-top: 1em;
    font-family: var(--body-font);
    font-size: 1.085em;
    line-height: 1.4em;
    margin-bottom: 30px;
}

.third-section {
    background: var(--secondary-color);
    padding: 50px 20px 30px;
}

.third-section .heading {
    font-size: 2.2em;
    margin-bottom: 10px;
}

.third-section p {
    font-size: 1.07em;
    font-family: var(--body-font);
    color: #848484;
    margin-bottom: 30px;
}

.forth-section {
    padding: 30px 20px;
}

.forth-section .heading {
    font-size: 2.2em;
    margin-bottom: 10px;
}

.forth-section p {
    font-size: 1.07em;
    font-family: var(--body-font);
    color: #848484;
    margin-bottom: 20px;
}

.btn {
    all: unset;
    padding: 15px 30px;
    color: #000;
    background: var(--btn-color);
}

/* footer-styling */
footer {
    padding: 20px 40px;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .social-icons {
    display: flex;
    gap: 1em;
}

footer .social-icons img:hover {
    cursor: pointer;
    transition: .5s;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}